@use 'styles.scss';
@use 'sass:color';

.sign-up-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;

  .sign-up-card-container {
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01), 0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09), 0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    padding: 22px;
    display: grid;
    gap: 32px;

    .sign-up-header {
      display: grid;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 6px;

      .sign-up-title {
        font-size: 32px;
        font-weight: 600;
        color: #3e3e3e;
      }

      .sign-up-subtitle {
        font-size: 14px;
        font-weight: 500;
        color: #575757;
      }
    }

    .sign-up-fields-container {
      display: grid;
      gap: 16px;

      &::ng-deep {
        .login-input-component-container {
          .login-label {
            color: #202020;
          }

          .login-input {
            border-style: solid !important;
            border-width: 1px !important;
            border-color: #E5E7EB !important;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          }
        }
      }
    }

    .sign-up-already-have-account-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: #3E3E3E;

      .sign-up-already-have-account-login {
        cursor: pointer;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
          color: color.adjust(#3E3E3E, $lightness: -10%)
        }

        &:active {
          text-decoration: underline;
          color: color.adjust(#3E3E3E, $lightness: -5%)
        }
      }

      @extend .prevent-user-selection;
    }
  }
}