@use 'styles.scss' as *;

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../../assets/images/windows-xp-wallpaper.jpg');;
  background-size: cover;
  background-position: center;
  padding-right: 5%;
  gap: 10%;

  .login-left-container {
    width: 100%;
    height: 100vh;
    font-size: 38px;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    // border-top-right-radius: 80px;
    // border-bottom-right-radius: 80px;

    .login-text-container {
      display: grid;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 60%;

      .login-product-name {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .login-subtitle {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        text-align: center;
        width: 100%;
        word-break: break-word;
        word-wrap: break-word;
      }
    }

    @extend .prevent-user-selection;
  }

  .login-box {
    border-radius: 22px;
    min-width: 300px;
    min-height: 400px;
    padding: 50px;

    @extend .frosted-glass-efx;
  }
}