@use 'styles.scss' as *;
@use 'sass:color';

.login-button {
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  outline: none;
  color: white;
  cursor: pointer;

  @extend .prevent-user-selection;
}

.button-primary {
  background-color: $primary-color;

  &:hover {
    background-color: color.adjust($primary-color, $lightness: -6%);
  }

  &:active {
    background-color: color.adjust($primary-color, $lightness: -3%);
  }
}