/* You can add global styles to this file, and also import other style files */
$primary-color: #06A9B5;

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.frosted-glass-efx {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.prevent-user-selection {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}